/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #534b3b, white);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centra el contenido horizontalmente */
}
a {
    text-decoration: none;
    color: #333;
}

button {
    padding: 10px;
    background-color: #534b3b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #47525e;
}

.contrast_text--primary, .contrast_text--primary-hover:hover {
    color: #D8CBA0;
}
/* Estilos para el anuncio del header */
.header-anuncio {
    background-color: #000;
    text-align: center;
    display: block; /* Esto hará que el fondo se ajuste al texto */
    color: #fff; /* Cambia el color del texto si es necesario */
    border-radius: 90px; /* (Opcional) Agrega esquinas redondeadas */
}



/* Estilos para el encabezado */
/* Header container */
.header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos */
    align-items: center; /* Centra verticalmente */
    min-height: 175px;
}

/* Search bar styles */
.header-search {
    flex: 1; /* Ocupa espacio restante a la izquierda */
}

.header-search__form {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alinea la barra de búsqueda a la izquierda */
    align-items: center;
}

.field__input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    border-radius: 5px;
    background-color: #d9be7d; /* Color de fondo del botón */
    color: #000;
}

.button:hover {
    background-color: #bfa55b; /* Color de fondo del botón al hacer hover */
}

/* Logo styles */
.header-logo {
    flex: 0; /* El logo no debe estirarse */
}

.header-logo__image {
    max-width: 150px;
    height: auto;
}

/* User menu styles */
.header-top__user {
    flex: 1; /* Ocupa espacio restante a la derecha */
    display: flex;
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
}

.header-top__user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list__item {
    margin: 0 10px;
}

.user-list__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.user-list__link:hover {
    color: #034ed8; /* Color de texto en hover */
}

/* Container styles */
/*
.uk-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 960px) {
    .uk-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 640px) {
    .uk-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}*/
@media (max-width: 768px) {
    .header-menu__desktop-list {
        flex-direction: row; /*ojardo, ajustar*/
        align-items: flex-start; /* Alinear a la izquierda */
        padding: 0; /* Quitar padding */
    }

    .desktop-list__item {
        width: 100%; /* Hacer que cada ítem ocupe todo el ancho */
        text-align: left; /* Alinear el texto a la izquierda */
    }
}
/* Barra de navegación */

.li-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.li-bar ul {
    padding: 0;
    list-style: none;
    display: inline;
}

.li-bar li {
    margin: 5px 0;
}

.li-bar a {
    color: white;
    font-size: 16px;
}
.nav-bar {
    display: block; /* Para que ocupe todo el ancho */
    background-color: #534b3b; /* Fondo marroncito, que el background del body tenga gradiente tamb cone sto */
    padding: 10px; /* Espaciado interno */
}

.header-menu__desktop-list {
    list-style: none; /* Quitar el estilo de lista */
    padding: 0; /* Quitar el padding */
    margin: 0; /* Quitar el margen */
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Centrar verticalmente */
    flex-wrap: 	wrap; /* Permitir que los elementos se ajusten en múltiples filas */
}

.desktop-list__item {
    position: relative; /* Necesario para los submenús */

}

.desktop-list__link {
    display: block; 
    padding: 10px 15px;
    color: #ffffff; 
    text-transform: uppercase; 
    text-decoration: none;
}

.desktop-list__link:hover {
    background-color: #9abde2; 
}

.nav.first {
    display: none; 
    position: absolute; 
    background-color: #534b3b; 
    z-index: 10; 
}

.desktop-list__item:hover .nav.first {
    display: block;
 }


.contrast_text--primary {
    color: #ffffff; 
    font-size: 14px;
}

.li-bar li:hover ul {
    display: block;
}


.jpg-slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    margin:0;
}

.slider-images {
    display: flex; 
    transition: transform 0.5s ease; 
    align-items: stretch;
    padding: 0; /*para que arranque bien desde la izq*/
    margin: 0;
}
.slider-images li {
    min-width: 100%; 
    box-sizing: border-box; 
}
.slider-images img {
    width: 100%;
    display: block;
}

.slider-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-indicator li {
    list-style: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider-indicator li.active {
    background-color: #000;
}

/* Estilos para la sección de productos */
.bloque-productos {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width:80%;
    flex:1;
}

.producto {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    width: auto;
    text-align: center;
}
.producto p {
    font-size: 1em; 
    color: grey; 
    margin: 10px 0; 
}

.producto img {
    width: 100%; 
    height: fit-content; /*no tengo idea de como hacer q encajen*/
    max-height: 150px; 
    object-fit: cover; 
}
.producto h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto p {
    font-size: 16px;
    color: #333;
}
.boton-mas-productos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nose {
    background-color: white;
    color: #534b3b;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none; 
}

.nose:hover {
    background-color: #f0f0f0;
}
.breadcrumb {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-item a {
    color: #534b3b; 
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #333; /* O el color de texto para los elementos activos */
}
/* @media (max-width: 768px) {
    .nav-bar ul {
        display: flex;
        flex-direction: column; /* Cambia a una columna para pantallas pequeñas 
    }

    .nav-bar li {
        margin-bottom: 10px; /* Espaciado entre elementos de la lista 
    }

    .jpg-slider li {
        display: block; /* Hace que las imágenes sean apiladas 
        margin-bottom: 10px; /* Espaciado entre imágenes 
    }
}

/* Estilo para pantallas grandes 
@media (min-width: 769px) {
    .nav-bar ul {
        display: flex; /* Mantenemos la disposición en fila en pantallas grandes 
    }

    .nav-bar li {
        margin-right: 20px; /* Espaciado entre elementos de la lista 
    }
}
*/
#carrito-contenedor {
    border-radius: 20px;
    left: 28%;
    position: fixed;
    bottom: 2%;
    width: 45%;
    max-height: 200px; /* Limita la altura del carrito */
    overflow-y: auto; /* Habilita el scroll vertical */
    background-color: #f9f9f9;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none; /* Oculto por defecto, aparecerá si tiene artículos */
    z-index: 1000;
}

.lista-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd; /* Bordes sutiles entre items */
}

.lista-carrito li:last-child {
    border-bottom: none; /* Elimina borde del último elemento */
}

#total-precio {
    font-weight: bold;
    font-size: 1.1em; /* Tamaño un poco más grande */
    margin-top: 10px;
    text-align: center; /* Centra el texto */
}

button {
    background-color: #cfcfcf;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

#ver-compra-btn {
    margin-top: 10px;
    background-color: #534b3b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 100%; /* Centra el botón */
    padding: 8px;
}

#ver-compra-btn:hover {
    background-color: #0056b3;
}
.lista-carrito button {
    margin-left: 10px;
    margin-right: 5px;
}
#lista-compra {
    list-style-type: none;
    padding: 0;
}

#lista-compra li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#lista-compra img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

#total-compra {
    font-weight: bold;
    margin-top: 20px;
}

#finalizar-compra-btn {
    margin-top: 20px;
    background-color: #534b3b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#finalizar-compra-btn:hover {
    background-color: #3b3a30;
}