/* Estilos generales para el layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grilla-productos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 30%;
}

.filtro-productos {
    width: 80%;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.filtro-productos:hover {
    background-color: #e2e2e2;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #534b3b;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #534b3b;
    font-weight: bold;
    transition: color 0.3s;
}

ul li a:hover {
    color: #9abde2;
}

/* Estilos para los filtros con checkboxes */
.checkbox-filtros {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

input[type="checkbox"] {
    accent-color: #534b3b;
    transform: scale(1.2);
    cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .filtro-productos {
        width: 80%; /*alpedo el cambio xd*/
    }

    /* Collapsible filters */
    .filtro-productos h2 {
        cursor: pointer;
    }

    .filtro-productos-content {
        display: none;
    }

    .filtro-productos.open .filtro-productos-content {
        display: block;
    }
}
.contenedor-productos {
    display: flex;           /* Flexbox para colocar las secciones en línea */
    align-items: flex-start; /* Alinear las secciones verticalmente */
}

