/* Estilos generales para el layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grilla-productos {
    display: flex;
    flex-direction: column; /* Aseguramos que los filtros vayan uno debajo del otro */
}

.filtro-productos {
    width: 100%; /* Para que los filtros ocupen el ancho total del contenedor */
    padding: 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc; /* Líneas divisorias entre los filtros */
    margin-bottom: 15px; /* Espacio entre las secciones de filtro */
}

/* Encabezados de las secciones */
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Listas de categorías */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

/* Estilos para los filtros con checkboxes */
.checkbox-filtros {
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .filtro-productos {
        width: 100%; /* Se asegura de que los filtros ocupen el ancho completo en dispositivos pequeños */
    }
}
